*{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}
#nav1{
    border: 1px solid #ff0000;
    height: 35px;
    background-image:url("bg1.PNG");
}
#nav2{
    border: 1px solid #00ff00;
    width: 1200px;
    height: 35px;
    margin: auto;
}
#navL{
    border: 1px solid #0000ff;
    height: 35px;
    float: left;
    line-height: 35px;
    color: #646464;
}
#navR{
    border: 1px solid #0000ff;
    height: 35px;
    float: right;
    line-height: 35px;
    color: #646464;
}